<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spring freamwork </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>
<body>

<div class="container-fluid" style="margin-top: 2px">


    <div class="row">
        <div class="col-md-6  offset-md-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Books List </h1>
                </div>
                <div class="panel-body">
                   <div class="table-responsive">
                       <table class="table table-hover">
                           <tr>
                               <th> ID </th>
                               <th> Title </th>
                               <th>Author </th>
                           </tr>

                           <tr th:each="book : ${books}">
                               <td th:text="${book.getId()}">123</td>
                               <td th:text="${book.title}">spring in action </td>
                               <td th:text="${book.publisher.name}">wrox</td>
                               <td th:each=" author : ${book.getAuthors()}">
                                   <p th:text="${author.getFirstName()}">p</p>
                                   tr</td>


                               <td ><a href="#" th:href="@{'book/show/' +${book.id}}">view</a></td>
                           </tr>
                       </table>

                </div>
            </div>


    </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
